@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

html,body {
    font-family: "Quicksand", sans-serif;;
}

.container {
    background-image: url('https://images-ext-1.discordapp.net/external/bAdxeR1PdFZcNEA9aJUu2XL5RYmUl2tHZJqOQbWBRYM/https/www.publicdomainpictures.net/pictures/130000/velka/blue-background-1440627643Oc1.jpg?width=2000&height=1000');
    background-color: rgba(255,255,255,0.50);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
}


/* html {
    background-color: pink;
} */