{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>

{% endblock %}

{% block body %}
<div class='content'>
    <h1 style='text-align: center;'>Upload image</h1>
    <form actions='/upload-image' method='POST' enctype='multipart/form-data'>
        <div class='form-group'>
            <label>Select image</label>
            <div class='custom-file'>
                <input type='file' class='custom-file-input' name='image' id='image'>
            </div>
        </div>
        <button type='submit' class='btn btn-primary'>Upload image</button>
    </form>
</div>
{% endblock %}