{% extends 'base.html' %}

{% block head %}

<title>Task Master</title>

{% endblock %}

{% block body %}

<div class='content'>
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="/">NoteScan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick='displaySaved()'>
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </nav>
    <!-- <h1 style='text-align: center;'></h1> -->
    <br><br>
    <div class="row"  id='divone' >
        <div class="col-sm-6">
            <form actions='/upload-image' method='POST' enctype='multipart/form-data'>
                <div class='form-group ' style='height:200px'>
                    <!-- <label>Select image</label> -->
                    <div class='custom-file'>
                        <input type='file' class='custom-file-input form-control' name='image' id='image' onchange='PreviewImage();'>
                        <img id="uploadPreview" />
                    </div>
                </div>
                <button type='submit' class='btn btn-secondary'>Upload image</button>
            </form>
        </div>
        <div class="col-sm-6">
            <form actions='/notes-txt' method='POST' enctype='multipart/form-data'>
                <input type='text' id='title' style='width:60%;' placeholder="Title"/>
                <br><br>
                <textarea style='width: 60%; height: 200px;' id='testing' name='testing' readonly></textarea>
            </form>
            
            <button class='btn btn-secondary' onclick='change_text()'>
                process
            </button>    
            <button class='btn btn-secondary' onclick='post_text()'>
                save
            </button>
        </div>
    </div>


    <div class="row" id='divtwo' style='display:none;'>
        <h1>HIIII</h1>
    </div>

</div>

<script>

    function displaySaved() {
        var x = document.getElementById('divone');
        var y = document.getElementById('divtwo');

        if( x.style.display == 'none'){
            console.log('here')
            x.style.display = '';
            y.style.display = 'none';
        } else if (x.style.display == '') {
            x.style.display = 'none';
            y.style.display = '';
        }

        var url = 'http://localhost:5000/notes';
        fetch(url).then(function (response) {
           return response.json(); 
        }).then(function(data) {
            console.log(data);
        });

    }

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

    function post_text() {
        var url = 'http://localhost:5000/test';
        var text = document.getElementById('testing').value
        var title = document.getElementById('title').value

        fetch(url, {
            method: "post",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            //make sure to serialize your JSON body
            body: JSON.stringify({
                title: title,
                notes: text
            })
        })
        // .then( (response) => { 
        //     //do something awesome that makes the world a better place
        // });
    }

    function change_text() {
        var url = 'http://localhost:5000/home';
        fetch(url).then(function (response) {
           return response.json(); 
        }).then(function(data) {
            arr = data.text // ["Where it began..","Greece, 400 BC", "Credited for coining the term \"atom\"","divided anymore, hello"]
            console.log(arr);

            arrToString = '';
            for (var i = 0; i< arr.length; i++){
                arrToString += arr[i] + '\n';
            }

            var x = document.getElementById('testing');
            x.readOnly = false;

            if (x.innerHTML === '') {
                // Section
                // var answer = y.replace(new RegExp('\n', 'g'), '<br>');
                x.innerHTML = arrToString;
            } else {
                x.innerHTML = '';
            }

        });
        
    }


</script>

{% endblock %}