{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>

{% endblock %}

{% block body %}
<div class='content'>
    <h1 style='text-align: center;'>Upload image</h1>
    <form actions='/upload-image' method='POST' enctype='multipart/form-data'>
        <div class='form-group'>
            <label>Select image</label>
            <div class='custom-file'>
                <input type='file' class='custom-file-input' name='image' id='image'>
            </div>
        </div>
        <button type='submit' class='btn btn-primary'>Upload image</button>
    </form>
    <label id = "testing">
        Welcome to GeeksforGeeks
    </label>
    <button onclick="myGeeks()">
        Click Here!
    </button>
</div>

<script>
    const Http = new XMLHttpRequest();
    const url = 'http://localhost:5000/home';
    Http.open("GET", url);
    Http.send();

    var temp = "";

    Http.onreadystatechange=(e)=>{
        console.log(Http.responseText);
        temp = Http.responseText;
    }
    
    function myGeeks() {
        var x = document.getElementById("testing");
            
        if (x.innerHTML === "Welcome to GeeksforGeeks") {
            x.innerHTML = String(temp);
        } else {
            x.innerHTML = "Welcome to GeeksforGeeks";
        }
    }
</script>
{% endblock %}